<div class="col-md-12" id="BaseDiv">

    <div id="sessionsgrid"
         data-role="grid"
         data-sortable="true"
         data-pageable="true"
         data-resizable="true"
         data-filterable="true"
         data-editable="inline"
         data-selectable="true"
         data-toolbar='[ { template: kendo.template($("#toolbar").html()) } ]'
         data-columns='[
                { field: "Id", title: "ID", width: "75px" },
                { field: "UserName", title: "Kullanıcı Adı"},
                { field: "SessionStart", title: "Oturum Başlama Tarihi",   format: "{0:dd-MMM-yyyy hh:mm:ss tt}", parseFormats: ["MM/dd/yyyy h:mm:ss"]},
                { field: "SessionEnd", title: "Oturum Sonlanma Tarihi",  format: "{0:dd-MMM-yyyy hh:mm:ss tt}", parseFormats: ["MM/dd/yyyy h:mm:ss"]},
                { field: "IP", title: "IP" }]'
         data-bind="source: dataSource, events: { change: onChange, dataBound: onDataBound }" style="width:100%">
    </div>


    <script type="text/x-kendo-template" id="toolbar">
        <div>
            <div>
            </div>
        </div>
    </script>

</div>
