
@{
    Layout = null;
}
﻿
<style type="text/css">
    /* fix for kendo tab to use with bootstrap */
    .boxFix *,
    .boxFix *::before,
    .boxFix *::after {
        -moz-box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }
</style>
<div class="col-xs-12" id="BaseDiv">
    <div data-role="toolbar">
        <div class="k-toolbar-first-visible" style="visibility: visible;">
            <button data-bind="click: cancel" class="k-button k-button-icontext k-toolbar-last-visible"><span class="k-icon k-i-cancel"></span>İptal Et</button>
            <button data-bind="click: changeUserPassword" class="k-button k-button-icontext k-toolbar-last-visible"><span class="k-icon k-i-tick"></span>Kaydet</button>
        </div>
    </div>
    <form class="form-horizontal" id="form" role="form">
        <div class="row">
            <div class="col-md-12">
                <div data-role="tabstrip" data-toolbar="">
                    <!-- tab list -->
                    <ul>
                        <li class="k-state-active">Şifremi Değiştir</li>
                    </ul>
                    <div>
                        <div class="boxFix">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="widget-box transparent">
                                        <div class="widget-header">
                                            <h5 class="widget-title">Yeni Şifre Tanımı</h5>
                                        </div>
                                        <div class="widget-body" style="text-align: center;">
                                            <div class="space"></div>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">

                                                        <label class="col-md-4 control-label" for="DefaultPassword">Kullandığınız Şifre </label>
                                                        <div class="col-md-8">
                                                            <input type="password" id="DefaultPassword" name="DefaultPassword" style="width:100%" data-bind="value: DefaultPassword" required validationmessage="kullandığınız şifre alanı boş bırakılamaz" class="k-textbox" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="NewPassword">Yeni Şifreniz</label>
                                                        <div class="col-md-8">
                                                            <input type="password" id="NewPassword" name="NewPassword" style="width:100%" data-bind="value:NewPassword" required validationmessage="Yeni şifreniz alanı boş bırakılamaz" class="k-textbox" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="NewPasswordAgain">Şifrenizi tekrar giriniz</label>
                                                        <div class="col-md-8">
                                                            <input type="password" id="NewPasswordAgain" name="NewPasswordAgain" style="width:100%" data-bind="value:NewPasswordAgain" required validationmessage="Şifrenizi tekrar giriniz alanı boş bırakılamaz" class="k-textbox" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
