<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SuratFrameworkConnection" connectionString="Data Source=DEVDBT1\DEVDBT1;Initial Catalog=SuratFrameworkGit;User Id=SuratFramework;Password=surat70*;" providerName="System.Data.SqlClient" />
    <!--
       <add name="SuratFrameworkConnection"
    connectionString="Data Source=devdbt1\devdbt1;Initial Catalog=WebFramework;Integrated Security=true"
    providerName="System.Data.SqlClient"/>
    <add name="ReportingConnectionString"
    connectionString="Data Source=SQL2012DBT1\SQL2012DBT1;Initial Catalog=TFSActivityReporting;User Id=TFSAdmin;Password=surat70*"
    providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>
  <appSettings>
    <!-- Serendip ile ilgili -->
    <add key="SettingsBasePath" value="\\kaynakdbweb\Serendipsettings2009"/>
    <add key="SettingsFileName" value="Configuration.xml"/>
    <add key="SqlExceptionLoggingEnabled" value="true" />
    <add key="UseWindowsLogin" value="false" />
    <!-- =============MasterDB işlemleri için kullanılan key'ler ================================================= -->
    <add key="SerendipMasterDbEncryptedConnectionString" value="d8KOwqRncsKSdMKrX2g1CsO4UHfChwfDl8KiIsKSJBLCo8KpwrIZw6USC8KrS8KDw7xvXwPCgcOfd3rDucKgw5nDnCnCgcOZw6vCkcKww7vCkMK9wrHDnRleOcKew5zCk8OfcsO4w5VFYzo+QsKpwoowwrvCnMOtXkUjw4kowrDDqFNbw7TDlD7DvnMxw6XDlHJG"/>
    <add key="SerendipMasterDbActivate" value="false"/>
    <!-- false olması  'SerendipMasterDbFirmaDonemiTipi' ni geçersiz kılar -->
    <add key="SerendipMasterDbFirmaDonemiTipi" value="TEST"/>
    <!-- 'SerendipMasterDbActivate' true ve programa parametresiz girişte anlamlıdır -->
    <!-- SerendipMasterDbFirmaDonemiTipi=Diğer durumlar = (Geliştirme aşamasında kullanmak için) TEST / CANLI / ARSIV / NONE (None=Hepsi) / TESTveCANLI / TESTveARSIV / CANLIveARSIV / TESTveCANLIveARSIV  (Yazılımcıların geliştirme aşamasında seçebilmeleri için (parametreli girişlerde dikkate alınmaz))-->
    <!-- Serendip ile ilgili -->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>