<div class="boxFix">
    <div class="row">
        <div class="col-md-8">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title">Banka Tanımı</h5>
                </div>
                <div class="widget-body" style="text-align: center;">
                    <div class="space"></div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="col-md-4 control-label" for="Code">Banka Kodu</label>
                                <div class="col-md-8">
                                    <input type="text" id="Code" name="Code" style="width:100%" data-bind="value: Bank.Code" required validationmessage="Banka Kodu alanı boş bırakılamaz" class="k-textbox" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Name">Banka Adı</label>
                                <div class="col-md-8">
                                    <input type="text" id="Name" name="Name" style="width:100%" data-bind="value:Bank.Name" required validationmessage="Banka Adı alanı boş bırakılamaz" class="k-textbox" />
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12" style="text-align:left; padding-left:130px">
                                    <input type="checkbox" id="IsActive" name="IsActive" data-bind="checked: Bank.IsActive" />&nbsp; Aktif mi?
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>



        </div>


    </div>
</div>