<div class="col-md-12" id="BaseDiv">

    <div id="bankgrid"
         data-role="grid"
         data-sortable="true"
         data-pageable="true"
         data-filterable="true"
         data-editable="inline"
         data-selectable="true"
         data-toolbar='[ { template: kendo.template($("#toolbar").html()) } ]'
         data-columns='[
                { field: "Id", title: "ID", width: "75px" },
                { field: "Code", title: "Banka Kodu" },
                { field: "Name", title: "Banka Adı"}]'
         data-bind="source: dataSource, events: { change: onChange, dataBound: onDataBound }" style="width:100%">
    </div>


    <script type="text/x-kendo-template" id="toolbar">
        <div>
            <div>
                <span data-role="button" id="buttonNew" data-bind="click: add"><span class="k-icon k-i-plus"></span>Yeni</span>
                <span data-role="button" id="buttonUpdate" data-bind="click: edit"><span class="k-icon k-i-refresh"></span>Düzenle</span>
                <span data-role="button" id="buttonDelete" data-bind="click: destroy"><span class="k-icon k-i-close"></span>Sil</span>
            </div>
        </div>
    </script>

</div>
