<div class="boxFix">
    <div class="row">
        <div class="col-md-8">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title">Rol Seçimi</h5>
                </div>
                <div class="widget-body" style="text-align: center;">
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div id="userRolesGrid"
                                 data-role="grid"
                                 data-sortable="true"
                                 data-pageable="true"
                                 data-filterable="true"
                                 data-editable="inline"
                                 data-selectable="multiple"
                                 data-columns='[
                                 { field:"IsAccess" , title:"active" , width:25, template:"<input type=\"checkbox\" # if (IsAccess) {# checked # }# data-bind=\"click:sec\" />"  },
                                 { field: "Id", title: "ID", width: "75px" },
                                 { field: "Name", title: "Rol", width: "200px" } ]'
                                 data-bind="source: userRolesDatasource" style="width:100%">
                            </div>
                        </div>


                    </div>
                </div>
            </div>



        </div>


    </div>
</div>
