<div class="boxFix">
    <div class="row">
        <div class="col-md-8">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title">Rol Seçimi</h5>
                </div>
                <div class="widget-body" style="text-align: center;">
                    <div class="space"></div>
                    <div class="row">

                        <div class="col-md-6">
                            <div id="rolesgrid"
                                 data-role="grid"
                                 data-sortable="true"
                                 data-pageable="true"
                                 data-filterable="true"
                                 data-editable="inline"
                                 data-selectable="true"
                                 data-columns='[
                { field: "Id", title: "Id", width: "75px" },
                { field: "Name", title: "Rol"} ]'
                                 data-bind="source: rolesDatasource, events: { change: onRolesChange }" style="width:100%">
                            </div>
                        </div>


                    </div>
                </div>
            </div>



        </div>


    </div>
</div>
