<div class="boxFix">
    <div class="row">
        <div class="col-md-10">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title">Sayfa Seçimi</h5>
                </div>
                <div class="widget-body" style="text-align: center;">
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="userPagesGrid"
                                 data-role="grid"
                                 data-sortable="true"
                                 data-pageable="true"
                                 data-filterable="true"
                                 data-editable="inline"
                                 data-selectable="multiple"
                                 data-columns='[
                                        { field: "PageId", title: "ID", width: "75px" },
                                        { field: "PageName", title: "Sayfa", width: "200px" },
                                        { field: "IsRoleEffect", title: "Rol var mı?", "template": "#= IsRoleEffect ? \"Var\" : \" \" #"},
                                        { field: "IzinVer", title: "İzin Ver", template:"<input type=\"checkbox\" # if (IzinVer) {# checked # }# data-bind=\"click:IzinVerSec\" />",},
                                        { field: "Yasakla", title: "Yasakla", template:"<input type=\"checkbox\" # if (Yasakla) {# checked # }# data-bind=\"click:YasaklaSec\" />"},
                                        { field: "IsPageAccess", title: "Etkinlik" } ]'
                                 data-bind="source: userPagesDatasource" style="width:100%">
                            </div>
                        </div>


                    </div>
                </div>
            </div>



        </div>


    </div>
</div>
