<div class="boxFix">
    <div class="row">
        <div class="col-md-8">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title">Çalışma Grubu Seçimi</h5>
                </div>
                <div class="widget-body" style="text-align: center;">
                    <div class="space"></div>
                    <div class="row">

                        <div class="col-md-6" style="min-height:350px;">
                            <div id="workgroupTree" style="width:100%"
                                 data-role="treelist"
                                 data-columns="[
                               { 'field': 'Name',title:'Çalışma Grubu','expandable': 'true','attributes':{style:' text-align:left;'} }
                              ]"
                                 data-selectable="true"
                                 data-bind="source:userWorkGroupDataSource,events: {change: onChange,dataBound: onDataBound}"></div>
                          
                        </div>


                    </div>
                </div>
            </div>



        </div>


    </div>
</div>
