<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SuratFrameworkConnection" connectionString="Data Source=DEVDBT1\DEVDBT1;Initial Catalog=SuratFrameworkGit;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="SuratFrameworkConnection2" connectionString="Data Source=.;Initial Catalog=SuratFrameworkGit;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
</configuration>