@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <link href="~/Framework/Scripts/kendo2015.1.408/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo2015.1.408/styles/kendo.bootstrap.min.css" rel="stylesheet" />*@

<script src="@Url.Content("~/Framework/Scripts/require.js")" data-main="/Framework/Scripts/app/main"> </script>

<div id="app">    
</div>