<div class="boxFix">
    <div class="row">
        <div class="col-md-8">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title">Durum Tanımı</h5>
                </div>
                <div class="widget-body" style="text-align: center;">
                    <div class="space"></div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <label class="col-md-4 control-label" for="Durum">Durum</label>
                            <div class="col-md-8">
                                <input type="text" id="Durum" name="Durum" style="width:100%" data-bind="value: Durum.Durum" required validationmessage="Durum alanı boş bırakılamaz" class="k-textbox" />
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12" style="text-align:left; padding-left:130px">
                                <input type="checkbox" id="IsOdeme" name="IsOdeme" data-bind="checked: Durum.IsOdeme" />&nbsp; Ödeme Ekranı?
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12" style="text-align:left;padding-left:130px">
                                <input type="checkbox" id="IsTahsilat" name="IsTahsilat" data-bind="checked: Durum.IsTahsilat" />&nbsp; Tahsilat Ekranı?
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12" style="text-align:left;padding-left:130px">
                                <input type="checkbox" id="IsBanka" name="IsBanka" data-bind="checked: Durum.IsBanka" />&nbsp; Banka Ekranı?
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12" style="text-align:left;padding-left:130px">
                                <input type="checkbox" id="IsKasa" name="IsKasa" data-bind="checked: Durum.IsKasa" />&nbsp; Kasa Ekranı?
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12" style="text-align:left;padding-left:130px">
                                <input type="checkbox" id="IsCek" name="IsCek" data-bind="checked: Durum.IsCek" />&nbsp; Çek Ekranı?
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>
</div>